@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


    <div class="box-shadow">
        <h1 class="text-center py-2 mb-3">Регистрация</h1>
        <!-- Material form contact -->
        <div class="col-lg-10 mx-auto ">
            <!--Card content-->
            <div class="card-body px-lg-5 pt-0">
                <!-- Form -->
                <form class="text-center" style="color: #757575;" action="#!">

                    <!-- Name -->
                    <div class="md-form mt-3">
                        <input type="text" id="materialContactFormName" class="form-control">
                        <label for="materialContactFormName">Име</label>
                    </div>
                    <!-- Name -->
                    <div class="md-form mt-3">
                        <input type="text" id="materialContactFormName" class="form-control">
                        <label for="materialContactFormName">Фамилия</label>
                    </div>
                    <!-- E-mail -->
                    <div class="md-form">
                        <input type="email" id="materialContactFormEmail" class="form-control">
                        <label for="materialContactFormEmail">Имейл</label>
                    </div>

                    <!-- Subject -->
                    <span>Интереси</span>
                    <select class="mdb-select">
                        <option value="1" disabled>Природни науки</option>
                        <option value="1" selected>Feedback</option>
                        <option value="2">Report a bug</option>
                        <option value="3">Feature request</option>
                        <option value="4">Feature request</option>
                    </select>
                    <button class="btn peach-gradient">Peach</button>
                    <button class="btn purple-gradient">Purple</button>
                    <button class="btn blue-gradient">Blue</button>
                    <button class="btn aqua-gradient">Aqua</button>
                    <!--Message-->
                    <div class="md-form">
                        <textarea id="materialContactFormMessage" class="form-control md-textarea" rows="3"></textarea>
                        <label for="materialContactFormMessage">Message</label>
                    </div>
                    <!-- Default checked -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultChecked2" checked>
                        <label class="custom-control-label" for="defaultChecked2">Default checked</label>
                    </div>

                    <!-- Send button -->
                    <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect" type="submit">Send</button>

                </form>
                <!-- Form -->

            </div>

        </div>
        <!-- Material form contact -->
        <!--
        <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
    -->
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
