
@{
    ViewData["Title"] = "Администрация";
}

    <div class="pl-0 col-lg-12 row bg-white box-shadow-light">
        <partial name="../Shared/Administration/_Navigation.cshtml"/>
        <div class="col-lg-9">
            <a href="#">content</a>
            <a href="#">content</a>
            <a href="#">content</a>
            <a href="#">content</a>
        </div>
    </div>