<div class="text-center home-section">
    <h1 class="display-4 title-home logo-text">CluBest</h1>
    <h3 class="font-weight-bold mt-2 text-shadow-2">Социална платформа за извънкласни дейности.</h3>
</div>