@{
    ViewData["Title"] = "_Chat";
}


<div class="container-fluid h-100">
    <div class="row justify-content-center h-100">
        <div class="col-md-12 col-xl-12 chat">
            <div class="card">
                <div class="card-body msg_card_body row" id="messagesList">
                    <div class="d-flex justify-content-start mb-4">
                        <div class="img_cont_msg col-md-3">
                            <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img_msg w-100">
                        </div>
                        <div class="msg_cotainer">
                            I am looking for your next templates
                            <span class="msg_time">@DateTime.UtcNow.Hour:@DateTime.UtcNow.Minute, @DateTime.UtcNow.DayOfWeek</span>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <textarea name="" id="messageInput" class="form-control type_msg" placeholder="Вашето съобщение..."></textarea>
                        <div class="input-group-append">
                            <button id="sendButton" class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /Chat -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
