@model ClubestApp.Models.InputModels.AddClubInputModel

    <form class="border border-light p-5 blue-gradient" asp-controller="Club" asp-action="AddClub" method="post">

        <p class="text-center h4 mb-4 text-white mt-2 waves-effect waves-light">Регистрирация на клуб</p>

        @*<p>
            <a href="" target="_blank">See the last newsletter</a>
        </p>*@

        <!-- Name -->
        <div class="mb-4">
            <input type="text" asp-for="Name" id="defaultSubscriptionFormPassword" class="form-control mb-1" placeholder="Име">
            <span asp-validation-for="Name" class="text-white font-weight-bold font-italic"></span>
        </div>

        <!-- Fee -->
        <div class="mb-4">
            <input type="number" asp-for="Fee" id="defaultSubscriptionFormEmail" class="form-control" placeholder="Такса" />
            <span asp-validation-for="Fee" class="text-white font-weight-bold font-italic"></span>
        </div>

        <!-- FeeType -->
        <div class="mb-4">
            <select asp-for="PriceType" id="defaultSubscriptionFormEmail" class="form-control">
                <option value="" selected disabled>Вид Такса</option>
                <option value="montly">Месечна</option>
                <option value="perHour">За час</option>
                <option value="free">Безплатно</option>
            </select>

            <span asp-validation-for="PriceType" class="text-white font-weight-bold font-italic"></span>
        </div>

        <!-- IsPublic -->

        <div class="text-white mt-2 waves-effect waves-light mb-2 d-inline mr-2">Какъв е твоят клуб?</div>

        <!-- Default checked -->

        <div class="custom-control custom-radio" style="display: inline-block">
            @Html.RadioButtonFor(model => model.IsPublic, "true", new { @checked = "checked", @class = "custom-control-input", @id = "defaultChecked", @Name = "defaultExampleRadios" }) <label class="text-white custom-control-label" for="defaultChecked">Публичен</label>
        </div>

        <!-- Default unchecked -->
        <div class="custom-control custom-radio mb-1" style="display: inline-block">
            @Html.RadioButtonFor(model => model.IsPublic, "false", new { @class = "custom-control-input", @id = "defaultUnchecked", @Name = "defaultExampleRadios" }) <label class="text-white custom-control-label" for="defaultUnchecked">Частен</label>
        </div>

        <div class="mb-3 font-weight-bold font-italic">
            <span asp-validation-for="IsPublic" class="text-white"></span>
        </div>

        <!-- Sign in button -->
            <button class="btn btn-info btn-block" type="submit">Регистрирай клуб</button>
    </form>