@model ClubestApp.Models.InputModels.AddClubInputModel

    <form class="container border- bg-white border-sky-blue box-shadow p-5" asp-controller="Club" asp-action="AddClub" method="post">
        <p class="text-center h4 mb-4 text-black mt-2">Регистрирация на клуб</p>
        <!-- Name -->
        <div class="row">
            <div class="mb-4 col-lg-6">
                <div class="md-form">
                    <input type="text" asp-for="Name" id="form1" class="form-control text-black">
                    <label for="form1" class="text-black">Име</label>
                    <span asp-validation-for="Name" class="text-black font-weight-bold font-italic"></span>
                </div>
            </div>
            <!-- Fee -->
            <div class="mb-4 col-lg-6">
                <div class="md-form">
                    <input type="text" asp-for="Fee" id="form1" class="form-control text-black">
                    <label for="form1" class="text-black">Такса</label>
                    <span asp-validation-for="Fee" class="text-black font-weight-bold font-italic"></span>
                </div>
            </div>
            <!-- FeeType -->
            <div class="mb-4 col-lg-6">
                <select asp-for="PriceType" class="custom-select">
                    <option value="" disabled selected>Вид Такса</option>
                    <option value="montly">Месечна</option>
                    <option value="perHour">За час</option>
                    <option value="free">Безплатно</option>
                </select>
                <span asp-validation-for="PriceType" class="text-black font-weight-bold font-italic"></span>
            </div>
            <!-- IsPublic -->
            <div class="col-lg-6 row text-center">
                <div class="text-black mt-2 waves-effect waves-light mb-2 d-inline mr-2 col-lg-12">Вид на твоя клуб:</div>

                <!-- Default checked -->

                <div class="custom-control custom-radio mx-auto" style="display: inline-block">
                    @Html.RadioButtonFor(model => model.IsPublic, "true", new { @checked = "checked", @class = "custom-control-input", @id = "defaultChecked", @Name = "defaultExampleRadios" })
                    <label class="text-black custom-control-label" for="defaultChecked">Публичен</label>
                </div>

                <!-- Default unchecked -->
                <div class="custom-control custom-radio mb-1 mx-auto" style="display: inline-block">
                    @Html.RadioButtonFor(model => model.IsPublic, "false", new { @class = "custom-control-input", @id = "defaultUnchecked", @Name = "defaultExampleRadios" }) 
                    <label class="text-black custom-control-label" for="defaultUnchecked">Частен</label>
                </div>

                <div class="font-weight-bold font-italic mx-auto">
                    <span asp-validation-for="IsPublic" class="text-black"></span>
                </div>
            </div>
        </div>

        <!-- Sign in button -->
        <div class="text-center mt-5">
            <input type="submit" class="btn text-white bg-white blue-gradient btn-outline-white" value="Добави" />
        </div>
    </form>