@model ClubestApp.Models.BindingModels.GetClubsBindingModel[]
@{
    ViewData["Title"] = "Клубове";
}
    <div class="container-fluid bg-white border-deep-blue">
        <div class="col-lg-12">
            <form asp-controller="Club" asp-action="SearchClub" method="get">
                <div class="md-form col-lg-6 mx-auto">
                    <input type="text" id="club-all-input" name="club" class="form-control">
                    <label for="club-all-input">Въведи клуб: </label>
                    <div class="text-center">
                        <button type="submit"
                                data-toggle="tooltip" data-placement="top" title="Търси"
                                class="btn mx-auto text-white blue-gradient mt-1 btn-outline-white">
                            <i class="fas fa-search"></i>
                        </button>
                        <div>
                            <a href="/Club/AddRequestNewClub" class="btn blue-gradient waves-effect mx-auto">
                                Добави заявка за нов клуб
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            @if (Model.ToList().Count() != 0)
            {
                @foreach (var club in Model)
                {
                    <div class="card card-image image-full-w mx-auto w-23rem bg-p-center"
                         style="background-image: url(@club.PictureUrl);">
                        <div class="text-white d-flex align-items-center rgba-black-strong py-5 px-4">
                            <div>
                                <h5 class="pink-text"><i class="fas fa-chart-pie"></i></h5>
                                <h4 class="card-title pt-2"><strong>@club.Name</strong></h4>
                                <h7 class="">Град: @club.Town</h7>
                                <div class="col-lg-12 text-center">
                                    <a href="/Club/Details/@club.Id"
                                       data-toggle="tooltip" data-placement="top" title="Виж клуб"
                                       class="btn text-white bg-white blue-gradient mt-4 btn-outline-white">
                                        <i class="fas fa-eye"></i>
                                         Виж клуб
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else 
            {
                <div class="mx-auto">
                    <h3 class="mx-auto pb-4">Няма намерени резултати</h3>
                </div>  
            }
        </div>
    </div>
    