@model ClubestApp.Models.BindingModels.GetClubsBindingModel[]
@{
    ViewData["Title"] = "PrivateClub";
}
    <div class="container-fluid border-deep-blue">
        <div class="row">
            @foreach (var club in Model)
            {
                <div class="card col-lg-4">
                    <img class="card-img-top" src="@club.PictureUrl" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title"><a>@club.Name</a></h4>
                        <p class="card-text">
                            От @club.Town
                        </p>
                        @if (club.IsPublic == false)
                        {
                            <a href="/Club/PrivateClub/@club.Id" class="btn btn-primary">Виж клуб</a>
                            <i class="fas fa-lock"></i>
                        }
                        else
                        {
                            <a href="/Club/PrivateClub/@club.Id" class="btn btn-primary">Виж клуб</a>
                            <i class="fas fa-lock-open"></i>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
    