@model ClubestApp.Models.BindingModels.ClubDetailsBindingModel
@{
    ViewData["Title"] = "Details";
}

    <div class="col-lg-12 my-2 mx-auto bg-white border-deep-blue box-shadow row">
        <div class="col-lg-12 row">
            <div class="col-lg-4 p-3">
                <img src="@Model.Club.PictureUrl" alt="@Model.Club.Name" class="w-100 h-100" />
            </div>
            <div class="col-lg-8 box-shadow p-3 mt-3">
                <h3>@Model.Club.Name</h3>
            </div>
        </div>
        <div class="col-lg-12">
            <ul class="nav justify-content-center primary-color lighten-4">
                <li class="nav-item waves-effect">
                    <a class="nav-link text-white" href="#!">Постове</a>
                </li>
                <li class="nav-item waves-effect">
                    <a class="nav-link text-white" href="#!">Членове</a>
                </li>
                <li class="nav-item waves-effect">
                    <a class="nav-link text-white" href="#!">Събития</a>
                </li>
                <li class="nav-item waves-effect">
                    <a class="nav-link text-white" href="#!">Анкети</a>
                </li>
            </ul>
        </div>
        <!--/.Navbar-->
        <div class="col-lg-3">
            SideNav
        </div>
        <div class="col-lg-9 border">
            <div>
                Posts
            </div>
        </div>
    </div>