<div class="pl-0 col-lg-3">
    <nav class="navbar navbar-light bg-light flex-column">
        <a class="font-size-18 text-dark font-weight-bold mb-3" href="#">Администрация</a>
        <nav class="nav nav-pills flex-column">
            <a class="nav-link text-dark" asp-controller="Club" asp-action="AddClub">
                <i class="fas fa-plus-circle mr-2"></i>
                Добави клуб
            </a>
            <a class="nav-link text-dark" asp-controller="Club" asp-action="GetAllRequestNewClub">
                <i class="fas fa-restroom mr-2"></i>
                Заявки за нови клубове
            </a>
        </nav>
    </nav>
</div>