@using Microsoft.AspNetCore.Identity
@using ClubestApp.Data.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Здравей, @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Изход</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-white link-nav" data-toggle="modal" data-target="#modalRegisterForm" href="">Регистрация</a>

            <partial name="_RegisterPartial" />
        </li>
        <li class="nav-item">
            <a class="nav-link text-white link-nav" data-toggle="modal" data-target="#modalLoginForm" href="">Вход</a>
            <partial name="_SignInPartial" />
        </li>
    }
    <li class="nav-item">
        <form class="form-inline ml-auto">
            <div class="md-form my-0">
                <input class="form-control search-input" type="text" placeholder="Търси" aria-label="Search">
            </div>
            <button href="#!" class="btn btn-outline-white btn-rounded btn-md my-0 ml-sm-2" type="submit"><i class="fas fa-search"></i></button>
        </form>
    </li>
</ul>