@using Microsoft.AspNetCore.Identity
@using ClubestApp.Data.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    var user = new User();
    if (SignInManager.IsSignedIn(User))
    {
        user = await UserManager.GetUserAsync(User);
    }
}
<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-white mt-2" asp-controller="User" asp-action="Profile" title="Manage">Здравей, <span class="font-weight-bold">@user.FirstName</span>!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-white">Изход</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item mt-2">
            <a id="register-link" class="nav-link text-white link-nav" data-toggle="modal" data-target="#modalRegisterForm" href="">Регистрация</a>
            <partial name="_RegisterPartial" />
        </li>
        <li class="nav-item mt-2 mr-2">
            <a id="login-link" class="nav-link text-white link-nav" data-toggle="modal" data-target="#modalLoginForm" href="">Вход</a>
            <partial name="_SignInPartial" />
        </li>
    }
</ul>