@{ 
    var year = DateTime.Now.Year.ToString();
}
<footer class="blue-gradient footer text-muted">
    <div class="container text-center text-white">
        &copy; Copyright 2019-@year - Clubest
    </div>
</footer>