@{
    ViewData["Title"] = "404 Not Found";
}
<div class="container bg-white box-shadow-light">
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>4<span></span>4</h1>
            </div>
            <h2>Опа! Страницата не е намерена</h2>
            <p>Страницата, която търсите несъществува или е временно недостъпна!</p>
            <a href="/">Начало</a>
        </div>
    </div>
</div>