@model ClubestApp.Models.InputModels.PasswordInputModel
@{
    ViewData["Title"] = "Моята парола";
}
<div class="container col-lg-12 my-2 mx-auto bg-white border-deep-blue box-shadow">
    <h2 class="text-center pt-4 pb-2">Моята парола</h2>
    <h4 class="my-3 text-center text-success">@ViewData["Message"]</h4>
    <h4 class="my-3 text-center text-danger">@ViewData["ЕrrorMessage"]</h4>
    <div class="row pb-4">
        <div class="col-lg-3 pb-3 mr-lg-3">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a asp-controller="User" asp-action="Profile">Моят профил</a>
                </li>
                <li class="list-group-item">
                    <a asp-controller="User" asp-action="Interests">Моите интереси</a>
                </li>
                <li class="list-group-item">
                    <a asp-controller="User" asp-action="Events">Моите събития</a>
                </li>
                <li class="list-group-item active">
                    <a asp-controller="User" asp-action="ChangePassword" class="text-white">Парола</a>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <form asp-controller="User" asp-action="ChangePassword" method="post" id="profile-form">
                <div class="md-form text-left">
                    <input type="password" asp-for="OldPassword" class="form-control validate">
                    <label data-error="" asp-for="OldPassword" data-success="">Стара парола</label>
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
                <div class="md-form text-left">
                    <input type="password" asp-for="Password" class="form-control validate">
                    <label data-error="" asp-for="Password" data-success="">Нова парола</label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="md-form text-left">
                    <input type="password" asp-for="ConfirmPassword" class="form-control validate">
                    <label data-error="" asp-for="ConfirmPassword" data-success="">Повторете паролата</label>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="text-center">
                    <button id="update-profile-button" type="submit" class="btn btn-primary mx-auto waves-effect">Запази</button>
                </div>
            </form>
        </div>
    </div>
</div>