@{
    ViewData["Title"] = "Забравена парола";
}
@model ClubestApp.Models.InputModels.Users.NewPasswordInputModel

<div class="container col-lg-12 my-2 mx-auto border-deep-blue bg-white box-shadow">
    <h2 class="text-center pt-4 pb-2">Забравена парола</h2>
    <div class="col-md-5">
        <form asp-controller="User" asp-action="ChangeForgottenPassword" method="post" id="profile-form">
            <div class="md-form text-left">
                <input type="password" asp-for="Password" class="form-control validate">
                <label data-error="" asp-for="Password" data-success="">Нова парола</label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="md-form text-left">
                <input type="password" asp-for="ConfirmPassword" class="form-control validate">
                <label data-error="" asp-for="ConfirmPassword" data-success="">Повторете паролата</label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="PasswordTokenId" class="form-control validate" value="@ViewData["TokenId"]"/>
            <div class="text-center">
                <button id="update-profile-button" type="submit" class="btn btn-primary mx-auto waves-effect">Запази</button>
            </div>
        </form>
    </div>
</div>