@{
    ViewData["Title"] = "Забравена парола";
}
@model ClubestApp.Models.InputModels.Users.ForgottenPasswordInputModel

<div class="container col-lg-12 my-2 mx-auto border-deep-blue bg-white box-shadow">
    <h2 class="text-center pt-4 pb-2">Забравена парола</h2>
        <div class="col-md-5">
            <form asp-controller="User" asp-action="ForgottenPassword" method="post" id="profile-form" enctype="multipart/form-data" runat="server">
                <div class="md-form text-left">
                    <input type="text" asp-for="Email" class="form-control validate">
                    <label data-error="" asp-for="Email" data-success="">Имейл</label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="text-center">
                    <button id="update-profile-button"
                            type="submit" 
                            class="btn btn-primary mx-auto waves-effect">
                        Изпрати имейл
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>