@model ClubestApp.Models.BindingModels.EditProfileBindingModel
@{
    ViewData["Title"] = "Моят профил";
}
<div class="container col-lg-12 my-2 mx-auto border-deep-blue bg-white box-shadow">
    <h2 class="text-center pt-4 pb-2">Моят профил</h2>
    <div class="row pb-4">
        <div class="col-lg-3 pb-3 mr-lg-3">
            <ul class="list-group list-group-flush">
                <li class="list-group-item active">
                    <a asp-controller="User" asp-action="Profile" class="text-white">Моят профил</a>
                </li>
                <li class="list-group-item">
                    <a asp-controller="User" asp-action="Interests">Моите интереси</a>
                </li>
                <li class="list-group-item">
                    <a asp-controller="User" asp-action="Events">Моите събития</a>
                </li>
                <li class="list-group-item">
                    <a asp-controller="User" asp-action="ChangePassword">Парола</a>
                </li>
            </ul>
        </div>
        <div class="col-md-5">
            <form asp-controller="User" asp-action="Profile" method="post" id="profile-form" enctype="multipart/form-data" runat="server">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input type="hidden" asp-for="Username" class="form-control validate">
                <div class="md-form text-left">
                    <input type="text" asp-for="FirstName" class="form-control validate">
                    <label data-error="" asp-for="FirstName" data-success="">Име</label>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="md-form text-left">
                    <input type="text" asp-for="LastName" class="form-control validate">
                    <label data-error="" asp-for="LastName" data-success="">Фамилия</label>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="md-form text-left">
                    <input type="text" asp-for="Email" class="form-control validate">
                    <label data-error="" asp-for="Email" data-success="">Имейл</label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="md-form">
                    <label asp-for="PhoneNumber">Телефон</label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

                <div class="text-center">
                    <button id="update-profile-button" type="submit" class="btn btn-primary mx-auto waves-effect">Запази</button>
                </div>
            </form>
        </div>
        <div class="col-lg-3">
            <img src="@Model.PictureUrl" class="w-100 profile-picture" alt="Alternate Text" />
            <div class="text-center">
                <button id="update-profile-button" type="button" class="btn btn-primary mx-auto waves-effect" data-toggle="modal" data-target="#basicExampleModal">Смени Снимка</button>
                <partial name="_ChangePhotoPartial" />
            </div>
        </div>
    </div>
</div>